body {
    font-family: 'Open Sans', sans-serif;
}

.my-number {
    background: #00BAFC !important;
    border-radius: 5px;
    color: #fff;
}

.navbar {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.card-texts {
    width: 50%;
}

.card-link {
    background: #00BAFC;
    border-radius: 5px;
}

.nav-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
}

.mb-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.mb-2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
}

@media(max-width:480px){
    .iframe{
        width:320px;
    }

    .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media(max-width:320px){
    .iframe{
        width:100%;
    }
}