body {
    font-family: 'Open Sans', sans-serif;
}

.my-number {
    background: #00BAFC !important;
    border-radius: 5px;
    color: #fff;
}

ul{
    list-style: none;
}

.navbar {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.card-texts {
    width: 50%;
}

.card-link {
    background: #00BAFC;
    border-radius: 5px;
}

.nav-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
}

.mb-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.mb-2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
}

@media(max-width:480px) {
    .iframe {
        width: 320px;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media(max-width:320px) {
    .iframe {
        width: 100%;
    }
}

.header-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    color: #000000;
}

.header-text {
    font-family: Open Sans;
    font-style: normal;
    color: #000000;
}

.header-list {
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header-item {
    background-color: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 28%;
    justify-content: space-between;
    margin-top: 25px;
}

.card {
    margin: 10px 0;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 0 10px;
}

.btn-link {
    margin-left: 10px;
    text-decoration: none;
}

.card-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    color: #000000;
}

.card-head {
    width: 45%;
}

.col-xl-8 {
    width: 50%;
}

.card-text-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

.btn {
    background: #00BAFC;
    border-radius: 5px;
}



.display-flex {
    width: 700px;
}

.main-content {
    background: #00BAFC;
}

.header-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
}

.header-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
}

.form-select {
    width: 20px;
}

.header-info-link {
    background-color: #00BAFC;
    border-radius: 5px;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.buyurtma-link {
    background-color: #00BAFC;
    border-radius: 5px;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.buyurtma-link:hover {
    color: white;
}

@media(max-width:940px) {
    .header-item {
        width: 45%;
    }
}

.item-link-img {
    width: 25px;
}

.footer-item-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

@media(max-width:576px){
    .main-content-info{
        width:420px;    
    }

    .section-content{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .card-head{
        width:80%;
        text-align:center;
    }

    .content-section{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .section-footer-list{
        display:flex;
        justify-content:center;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .section-footer-item{
        width:80%;
        margin:10px 0;
    }

    .footer-item-info{
        margin:10px 0;
    }

    .container-item{
        text-align:center;
    }

    .item-link-img{
        width:20px;
    }
}

@media(max-width:420px){
    .main-content-info{
        width:300px;    
    }
    
    .header-list{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .iframe{
        width:100%;
        display:flex;
        justify-content:center;
        align-items: center;
    }

    .card-body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:100%;
        text-align: center;
    }

    .header-item{
        width:100%;
    }
}